.lista-suspensa label{
    display: block;
    margin: 8px;
    font-size: 24px;
}

.lista-suspensa select{
    font-size: 24px;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    box-sizing: border-box;
    background-color: #f2f2f2;
}